extends layout

block content

  h1 User Detail
  h2 #[strong Name:] #{user.name}
  h3 User ID: #{user._id}
  h3 Telephone #: #{user.phone_number}
  h3 Email: #{user.personal_email}
  h3 Chapter: #{user.local_chapter}




  div(style='margin-left:20px;margin-top:20px')

  h2 
  a(href='private/users') Back to List
  p
  a(href=user.url+'private/delete') Delete User
  p
  a(href='private/user/create') Add Another User

