extends layout

block content
  p 
    a(href='/private/welcome') 
      button.btn.btn-info Return to Main Page
  h1= title
  ul 
    each user in user_list
      li
       div(class='individual')
        h2 #{user.name}
        p Phone: #{user.phone_number}
        p Email: #{user.personal_email}
        P Chapter: #{user.local_chapter}
        P Created At: #{user.createdAt}
        a(href=user.url)
          button.btn.btn-primary More Info
        a(href=user.url +'private/delete')
           button.btn.btn-danger Delete
        

    else
      li There are no Users.

  